.horizontal {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.separator{
    display: none;
}

@media screen and (max-width: 900px) {
    .horizontal {
        flex-direction: column;
        align-items: center;
    }
    .separator{
        display: block;
        width: 80%;
        height: 2px;
        background-color: black;
        margin: 3em;
    }
    
}

.vertical {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.image {
    border: 1px solid #000;
    height: 20em;
    width: 20em;
    margin: 2px;
}

@font-face {
    font-family: 'ComicSansMS';
    src: url('Comic Sans MS.ttf') format('truetype');
}

h1 {
    font-family: 'ComicSansMS';
    text-align: center;
}

textarea {
    height: 3em;
    width: 20em;
}

input {
    height: 3em;
    padding: 3px;
}

button {
    height: 3em;
    padding: 0 2em;
    margin: 3px;
}